@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Nav bar */
#navbar-container {
    top: 0;
    width: 100%;
    backdrop-filter: blur(7px);
}

/* Hero background */
.hero-background {
    min-height: 90vh;
    margin-top: 4.6rem;
    background-image: url("../../public/images/background-spot.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Login page */
.login-container {
    min-height: 90vh;
}

/* Sign up page */
.signup-container {
    min-height: 100vh;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

/* Footer */
footer {
    cursor: default;
}

/* User dashboard page*/
.user-dashboard {
    margin-top: 5rem;
}

/* user profile page */
.user-profile {
    margin-top: 4rem;
}

.user-profile .profile-bg-image {
    height: 15rem;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.user-profile .profile-image-container {
    margin-left: 3%;
}

.user-profile .profile-image-container .profile-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user-profile .profile-details {
    width: 100%;
    padding: 0 5%;
}

.user-profile .profile-details form {
    width: 80%;
}

/* user settings page */
.user-settings {
    padding: 0 10%;
    margin-top: 5rem;
}

.user-settings .coming-soon {
    height: 70vh;
}

@media only screen and (max-width: 768px) {
    /* Login page */
    .login-container {
        min-height: 100vh;
    }

    /* Sign up page */
    .signup-container {
        margin-top: 8rem;
        margin-bottom: 5rem;
    }


.user-profile .profile-details form {
    width: 95% !important;
}
}

@media only screen and (max-width: 570px) {
    #navbar-container .nav-contents {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* user settings page */
    .user-settings {
        padding: 0 3%;
    }
}

@media only screen and (max-width: 320px) {
    .user-profile .profile-image-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .user-profile .profile-image-container .details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
